*{
    font-family: Montserrat,Arial,Helvetica,sans-serif
}

.mainSlider{

    .slider{
        background-image: url(../photo1/usa.jpg);
        height: 730px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .slideMiddle{
            padding: 18rem 0;
        }
        .slbtn1{
            padding: 10px 19px;
            border-radius:0;
            background:#8dc645;
            color:white;
            font-size:.75em;            
        }
        .slbtn2{
             padding: 10px 19px;
            border-radius:0;
            background:#1976bc;
            color:white;
            font-size:.75em;  
        }
        .bb-headLine{
            &::after{
                content: ' ';
                display: block;
                width: 4em;
                margin: 10px 33em .4em;
                border-style: solid;
                border-width: 2px 0 0;
            }
        }
    }
}